{% load static %}
{% load static i18n %}
{% load movie_tag %}

<div class="container">
    <!-- Page title -->
    <div class="page-title">
        <div class="page-title-inner">
            <h1>{{ category.title }}</h1>
        </div>
    </div>
    <!-- End page title -->

    <!-- Breadcrumbs -->
    <ul class="breadcrumbs">
        <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'image-category' category.slug %}">{{ category.title|safe }}</a></li>
        <li><a href="#">{{ image.title|safe }}</a></li>

    </ul>
    <!-- End breadcrumbs -->
</div>
</div>