{% load static i18n %}
{% load static %}
{% load movie_tag %}

<div class="container">
    <!-- #masthead -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area column full">
            <main id="main" class="site-main" role="main">
                <article id="post-37" class="post-37 page type-page status-publish hentry">
                    <header class="entry-header">
                        <h1 class="entry-title">Tez tez verilən suallr</h1>
                    </header>
                    <!-- .entry-header -->
                    <div class="entry-content">
                        <p>
                            Ən tez tez tez verilən suallara, pasiyentləri ən maraqlandıran suallara burada cavab tapa bilərsiz.
                        </p>

                        <div class="wpcmsdev-accordion">
                            <div class="accordion-item">
                                <h3 class="accordion-item-title"><a href="#accordion-item-what-is-lore-ipsum"><i
                                        class="fa fa-plus icon-for-inactive"></i><i
                                        class="fa fa-minus icon-for-active"></i>Otorinolarinqologiya nədir?</a></h3>
                                <div id="accordion-item-what-is-lore-ipsum" class="accordion-item-content">
                                    <p>
                                        Otolarinqologiya qədim tibb ixtisasıdır. Otolarinqologiya qulaq, burun, boğaz
                                        (QBB) və baş və boyunun əlaqəli strukturlarının, orqanların və toxumalarının
                                        xəstəlikləri ilə məşqul olan elmdir.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-item-title"><a
                                        href="#accordion-item-where-does-it-come-from"><i
                                        class="fa fa-plus icon-for-inactive"></i><i
                                        class="fa fa-minus icon-for-active"></i>Otorinolarinqoloq kimdir?</a></h3>
                                <div id="accordion-item-where-does-it-come-from" class="accordion-item-content">
                                    <p>
                                        Otorinolarinqoloq qulaq, burun, boğaz (QBB) və baş və boyunun əlaqəli
                                        strukturlarının, orqanların və toxumalarının xəstəlikləri ilə məşqul olan,
                                        onların konservativ və cərrahi müalicəsi üzrə təhsil almış həkimlərdir.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-item-title"><a href="#accordion-item-why-do-we-use-it"><i
                                        class="fa fa-plus icon-for-inactive"></i><i
                                        class="fa fa-minus icon-for-active"></i>KBB baxış nəticəsində nə əldə edə
                                    bilərəm?</a></h3>
                                <div id="accordion-item-why-do-we-use-it" class="accordion-item-content">
                                    <p>
                                        Aydındır ki, baxışsız diaqnoz qoyula bilməz. Otorinolarinqoloq orqanizminizin
                                        obyektiv vəziyyətinizi daha yaxşı örgənmək üçün mürəkkəb avadanlıqdan istifadə
                                        edəcək. Məsələn, qulaq pərdəsini görmək üçün bir otoskop və ya endoskop istifadə
                                        edəcəkdir. Burun boşluqlarınızın içini daha aydın görmək üçün burun spekulumu və
                                        ya endoskopdan istifadə edə bilər. Və ya burnunuzun arxasını və ya səs qutusunu
                                        daha yaxşı görmək üçün otorinolarinqoloq elastik, fiberoptik nasoendoskopdan
                                        istifadə edə bilər.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-item-title"><a href="#accordion-item-why-do-we-use-it"><i
                                        class="fa fa-plus icon-for-inactive"></i><i
                                        class="fa fa-minus icon-for-active"></i>Allerqiya nə deməkdir?
                                </a></h3>
                                <div id="accordion-item-why-do-we-use-it" class="accordion-item-content">
                                    <p>
                                        İmmunitet sistemimiz bizi bədənimizə daxil olan yad maddələrdən qorumaq üçün
                                        yaradılmışdır. Allergiya zamanı immun sistemi bu müdafiyıdə özünü həddindən
                                        artıq aktiv göstərir. Allergenə reaksiya olaraq bədən histamin istehsal edir.
                                        Əsas təsir edilən nöqtələr - gözlər, burun və ağızdır. Nəticədə, digər
                                        simptomlar kimi iltihab da baş verə bilər.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-item-title"><a href="#accordion-item-why-do-we-use-it"><i
                                        class="fa fa-plus icon-for-inactive"></i><i
                                        class="fa fa-minus icon-for-active"></i>Allergiya diaqnozu necə qoyulur?</a>
                                </h3>
                                <div id="accordion-item-why-do-we-use-it" class="accordion-item-content">
                                    <p>
                                        QBB həkiminizin ətraflı sualları anamnez yığmağa və şikayətlərinizi
                                        aydınlaşdırmağa kömək edəcək. Həkiminiz ya dəri testi, ya da qan testi tövsiyə
                                        edə bilər. Dəri testi üçün dərinizə az miqdarda allergen yeridiləcək.
                                        Allergiyanız varsa dəriniz qızaracaq. Qan testi qanınızdakı allergiyaya səbəb
                                        olan antikorların miqdarını ölçür.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <div class="clearfix">
                </div>
                <nav class="pagination"></nav>
            </main>
            <!-- #main -->
        </div>
        <!-- #primary -->
    </div>
    <!-- #content -->
</div>


